.navbar {
  background-color: #080808 !important;
}
.nav-link
{
  color:white !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container {
  margin-top: 25px;
}
.card
{
  background-image: asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      background-color: gray;
    }
    .sticky-bottom {
      margin-top: auto;
    }