<div class="sticky-bottom">
  <footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "CopyrightOffice", "https://copyright.gov.in/", class: "text-white" %></small>
    </div>
  </footer>
</div>
